
html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Montserrat', sans-serif;
    overflow-x: hidden;
}

body::-webkit-scrollbar {
    width: 8px;
}

body::-webkit-scrollbar-track {
    background-color: var(--blue-primary-);
}

body::-webkit-scrollbar-thumb {
    box-shadow: inset 0 0 6px rgb(29, 72, 187);
}

:root {
    --white-: #F9FBFE;
    --dark-: #1F1F1F;
    --blue-secondary-: #1D48BB;
    --blue-primary-: #4287f8;
    --gray-: #EFF5FF;
}

a {
    cursor: pointer;
}

.container {
    max-width: 1560px;
    width: 100%;
    margin: 0 auto;
}

.dn {
    display: none;
}

.btn {
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
    color: var(--dark-);
    padding: 15px 20px;
    border: 1px solid #1D48BB;
    border-radius: 100px;
    max-width: 316px;
    transition: color .3s;
}

.btn--arrow {
    width: 40px;
    height: 40px;
    background: var(--blue-secondary-);
    border-radius: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.3s ease;
}

.btn:hover .btn--arrow {
    transform: translateX(10px);
}

.btn:hover {
    color: #9b9b9b;
}

.inner--header {
    margin-top: 360px;
}

.title {
    display: flex;
    align-items: center;
    gap: 60px;
}

.title__number {
    font-style: normal;
    font-weight: 700;
    font-size: 96px;
    line-height: 1;
    color: var(--blue-primary-);
}

.title__content {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.title p {
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 1.3;
    color: var(--dark-);
}

.title__progress {
    display: flex;
    align-items: center;
}

.title__progress span {
    background-color: var(--blue-primary-);
}

.title__progress span:nth-child(1) {
    position: relative;
    width: 16px;
    height: 16px;
    border-radius: 50%;
}

.title__progress span:nth-child(2) {
    width: 70%;
    max-width: 200px;
    height: 3px;
}

@media screen and (max-width: 1700px) {
    .container {
        padding: 0 100px;
    }

    .inner--header {
        margin-top: 320px;
    }
}

@media (max-width: 1500px) {
    .inner--header {
        margin-top: 270px;
    }
}

@media (max-width: 1300px) {
    .inner--header {
        margin-top: 210px;
    }
}

@media screen and (max-width: 1025px) {
    .container {
        padding: 0 40px;
    }

    .inner--header {
        margin-top: 130px;
    }
}

@media screen and (max-width: 768px) {
    .container {
        padding: 0 30px;
    }

    .inner--header {
        margin-top: 100px;
    }

    .title {
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 40px;
    }

    .title__content {
        gap: 15px;
    }

    .title__content p {
        font-size: 28px;
    }
}

@media screen and (max-width: 468px) {
    .container {
        padding-left: 20px;
        padding-right: 20px;
    }
}